<% content_for(:title, "Profile") %>

<%= render "devise/shared/error_messages", resource: resource %>

<%= render partial: "users/user_bar", locals: { user: @user } %>   

<div class="is-flex is-justify-content-center mt-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="is-flex is-flex-direction-row is-align-items-center pb-3 mb-2" style="border-bottom: 1px solid #CED0D4;" >
      <figure class="image is-24x24 mr-2">
        <i class="fa fa-key has-text-grey"></i>
      </figure>
      <div>
        <h2>Change password</h2>
        <p class="has-text-grey">It's a good idea to use a strong password that you're not using elsewhere</p>
      </div>
    </div>

    <div class="field">
      <%= f.label :current_password, "Current", class: 'label' %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'input is-hovered' %>
    </div>

    <div class="field">
      <%= f.label :password, "New", class: 'label' %> 
      <%= f.password_field :password, autocomplete: "new-password", class: 'input is-hovered' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Re-type new", class: 'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-hovered' %>
    </div>

    <div class="actions">
      <%= f.submit "Save Changes", class: 'button is-info' %>
    </div>
  <% end %>
</div>
