<% content_for(:title, "Register") %>

<%= render "devise/shared/error_messages", resource: resource %>

<section class="container is-widescreen">
  <div class="m-5 is-flex is-flex-direction-column is-align-items-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "", style: "width: 432px;"}) do |f| %>

      <div class="is-flex is-justify-content-space-between mb-2">
        <div>
          <h2 class="is-size-3 has-text-black-bis">Sign up</h2>
          <p class="is-size-6 has-text-grey">It’s quick and easy.</p>
        </div>
        
        <div>
          <%= link_to  "/users/sign_in" do %>
          <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/HzbLJwSEKMz.png" alt="" width="24" height="24">
          <% end %>
        </div>
      </div>

      <div class="field is-grouped pt-3" style="border-top: 1px solid #dadde1;">
        <div class="control is-expanded">
          <%= f.text_field :firstname, placeholder: "First name", autofocus: true, class: 'input is-normal' %>
        </div>

        <div class="control is-expanded">
          <%= f.text_field :lastname, placeholder: "Last name", class: 'input is-normal' %>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: 'input is-normal', style: 'width: 100%;' %>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <%= f.password_field :password,  placeholder: "#{@minimum_password_length} minimum password", autocomplete: "new-password", class: 'input is-normal', style: 'width: 100%;' %>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <div>
            <%= f.label :birthday, class: 'label', class: 'is-size-6' %>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </div>
          <div class="is-flex is-justify-content-space-evenly pt-1">
            <%= f.date_select :birthday, {start_year: Date.current.year, end_year: 1900}, {style: 'width: 100%; height: 40px;', class: 'is-link mr-4'}  %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <div>
            <%= f.label :gender, class: 'label', class: 'is-size-6' %>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </div>
          <div class="columns pt-4", style="margin-left: 0; margin-right: 0;">
            <div class="column is-flex is-justify-content-space-between mr-4", style="border: 1px solid #ccd0d5;border-radius: 4px;">
              <%= f.label "Female" %>
              <%= f.radio_button :gender, "Female" %>
            </div>
            <div class="column is-flex is-justify-content-space-between mr-4", style="border: 1px solid #ccd0d5;border-radius: 4px;">
              <%= f.label "Male" %>
              <%= f.radio_button :gender, "Male" %>
            </div>
            <div class="column is-flex is-justify-content-space-between mr-4", style="border: 1px solid #ccd0d5;border-radius: 4px;">
              <%= f.label "Non" %>
              <%= f.radio_button :gender, "Non" %>
            </div>            
          </div>
        </div>
      </div>

      <div class="is-size-7 py-3">
        <p class="has-text-grey">
          By clicking Sign Up, you agree to our <a href="">Terms</a>,
          <a href="">Data Policy</a> and <a href="">Cookies Policy</a>. 
          You may receive SMS Notifications from us and can opt out any time.
        </p>
      </div>

      <div class="field is-flex is-justify-content-center">
        <div class="control" style="width: 195px;">
          <%= f.submit "Sign up", class: "button is-success is-fullwidth has-text-weight-medium" %>
        </div>
      </div>
    <% end %>
  </div>
</section>






