<% if post.comments.any? %>
  <% post.comments.order("created_at DESC").each do |comment| %>
    <div>
      <figure class="image is-32x32 mr-2">
        <%= image_tag avatar_for(User.find_by(id: comment.user_id)), class: 'is-rounded'%>
      </figure>
      <p><%= User.find_by(id: comment.user_id).fullname %></p>
      <p><%= comment.content %></p>
    </div>

    <div>
      <p><%= time_ago_in_words(comment.created_at) %></p><br>
      <div>
        <% if comment.user_id == current_user.id %>
          <%= link_to "Edit", edit_comment_path(comment) %>
          <%= link_to "Delete", comment_path(comment), method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
