<!-- old searchings -->
<% old_searchings = current_user.searchings.order("created_at DESC").limit(5) %>
<% if old_searchings.any? %>
  <% old_searchings.each do |searching| %>
    <%= form_with model: Searching.new do |f| %>
      <%= f.hidden_field :word, value: searching.word %>
      <div class="is-flex is-flex-direction-row is-justify-content-space-between" style="max-width:140px;">
        <button class="button is-small is-rounded is-light">
          <%= f.hidden_field :commit %>
          <p class="is-size-6">
            <%= searching.word %>
          </p>
        </button>
        <%= link_to searching_path(searching), method: :delete, data: { confirm: "Delete?" } do %>
          <span>X</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else%>
  <p>No old searchings</p>
<% end %>
