<div style = "display: flex; justify-content: space-around;" >
  <% if @user.id == current_user.id %>
    <%= image_tag cover_for(@user), size: "700x100" %>
    <%= render partial: "cover_image", locals: { user: @user } %>  
    <%= image_tag avatar_for(@user), size: "170x170" %> 
    <%= render partial: "avatar_image", locals: { user: @user } %>  
  <% else %>
    <%= image_tag cover_for(@user), size: "700x100" %>
    <%= image_tag avatar_for(@user), size: "170x170" %> 
  <% end %> 
</div><br>

<div style = "display: flex; justify-content: center;" >
  <p><%= user.fullname%></p>
</div>

<div style = "display: flex; justify-content: center;" >
  <p>Personal sign</p>
</div>

<!-- user options  -->
<div style = "display: flex; justify-content: space-around;" >
  <div>
    <p><%= link_to 'Posts', user_path(user), method: 'get', class: "nav-link" %></p> 
  </div>
  <div>
    <p><%= link_to 'About', about_user_path(user), method: 'get', class: "nav-link" %></p> 
  </div>
  <div>
    <p><%= link_to 'Friends', friends_user_path(user), method: 'get', class: "nav-link" %></p> 
  </div>
  <div>
    <p><%= link_to 'Edit(password to edit!!) ', edit_user_registration_path, method: 'get', class: "nav-link" %></p> 
  </div>
</div>
<br>
