<div class="mt-3 is-flex is-flex-direction-column">
  <div class="has-text-centered is-flex is-flex-direction-column is-align-items-center" style="position:relative; width:100%; height:370px;">
    <div style="position:relative; width:900px; height:350px; margin:0 auto; top:0; right:0; left:0; bottom:0;">
      <%= image_tag cover_for(@user), style: 'width:900px; height:350px; object-fit:cover;' %>
      <span style="height:80px; position:absolute; right:0; left:0; bottom:0;background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));"></span>
      <% if @user.id == current_user.id %>
        <div style="position:absolute; bottom:1.4rem; right:2rem;">
          <%= render partial: "users/cover_image", locals: { user: @user } %>  
        </div>
      <% end %>
    </div>
    <figure class="image is-168x168" style='position:relative; bottom:9rem; display:inline-block; background-color:white; border-radius:50%;' >
      <%= image_tag avatar_for(@user), class: 'is-rounded'%> 
      <% if @user.id == current_user.id %>
        <div style="position:absolute; bottom:1.2rem; left: 8rem; z-index:10;">
          <%= render partial: "users/avatar_image", locals: { user: @user } %>  
        </div>
      <% end %>
    </figure>  
  </div>


  <div style = "display: flex; justify-content: center;" >
    <p><%= @user.fullname%></p>
  </div>

  <div style = "display: flex; justify-content: center;" >
    <p>Personal sign</p>
  </div>

  <!-- user options  -->
  <div style = "display: flex; justify-content: space-around;" >
    <div>
      <p><%= link_to 'Posts', user_path(@user), method: 'get', class: "nav-link" %></p> 
    </div>
    <div>
      <p><%= link_to 'About', about_user_path(@user), method: 'get', class: "nav-link" %></p> 
    </div>
    <div>
      <p><%= link_to 'Friends', friends_user_path(@user), method: 'get', class: "nav-link" %></p> 
    </div>
    <div>
      <% if @user.id == current_user.id %>
        <p><%= link_to 'Bad Password?', edit_user_registration_path, method: 'get', class: "nav-link" %></p> 
      <% else %>
        <p><%= link_to 'Good Password!', nothing_user_path(@user), method: 'get', class: "nav-link" %></p> 
      <% end %>
    </div>
  </div>


</div>
