<div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-start">
  <% Request.all.where.not(user_id: current_user.id).each do |request| %>
    <% unless current_user.friends.any? { |friend| friend.id == request.user_id } %>
      <div class="is-flex is-flex-direction-row is-align-items-center my-2">
        <%= link_to user_path(request.user_id) do %>
          <figure class="image is-32x32">
            <%= image_tag avatar_for(request.user), class: 'is-rounded'%>
          </figure>
        <% end %>
        <%= link_to user_path(request.user_id) do %>
          <p class="has-text-black-bis has-text-weight-medium ml-2" style="width:160px;"><%= User.find_by(id: request.user.id).fullname %></p>
        <% end %>
        <button class="button is-success is-small mx-4"><%= link_to "Accept", requests_path(friend_id: request.user_id), method: :post %></button>
        <button class="button is-danger is-small"><%= link_to "Reject", request_path(request,friend_id: request.user_id), method: :delete %></button>
      </div>
    <% end %>
  <% end %>
</div>
