<% content_for(:title, "Home") %>

<section class="container is-widescreen">
  <div class="is-flex is-justify-content-space-between mt-6 mx-7">
    <div class="mr-5 mt-8" style="width: 580px;">
      <div style="width: 301px;">
        <img style="margin: -28px;" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
      </div>
      <div class="content is-normal mt-5">
        <h2 style="width: 500px;">Connect with friends and the world around you on Facebook.</h2>
      </div>
    </div>

    <div style="height: auto; width: 416px;"> 
      <div class="facebook-box-variation">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field px-3 pt-3">
            <div class="control has-icons-left has-icons-right">
              <%= f.email_field :email, placeholder: "Email or Phone Number", autofocus: true, autocomplete: "email", class: 'input is-large' %>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
            </div>        
          </div>

          <div class="field px-3">
            <div class="control has-icons-left has-icons-right">
              <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: 'input is-large' %>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field px-3">
            <%= f.submit "Log in", class: 'button  is-info is-medium is-fullwidth has-text-weight-medium' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
      <div class="mt-4">
        <%= link_to "But you can sign in with Facebook(really?)", user_facebook_omniauth_authorize_path, class: 'is-block is-fullwidth has-text-centered' %>
      </div>
    </div>
  </div>
</section>






