
<% unless posts.nil?  %>
  <% posts.order("created_at DESC").each do |post| %>
    <div style = "outline: 2px solid black;" >
      <!-- User icon; edit or delete post -->
      <div style = "display: flex; justify-content: space-around;" >
        <p>User_id: <%= link_to post.user_id, user_path(post.user_id) %></p>
        <p>Time: <%= time_ago_in_words(post.created_at) %></p>
        <% if post.user_id == current_user.id %>
          <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content" >
              <%= link_to "Edit", edit_post_path(post) %>
              <%= link_to "Delete", post_path(post), method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Post body and images created time -->
      <div style = "display: flex; justify-content: space-around;" >
        <p>Body: <%= post.body %></p>
      </div>
      <% if post.images.attached? %>
        <% post.images.each do |image| %>
          <%= link_to image_tag(image, size: "350x350"), image %>
        <% end %>
      <% end %>

      <!-- likings; comments -->
      <div style = "display: flex; justify-content: space-around;" >
        <p><%= pluralize(post.likings.count, "Liking") %></p>
        <p><%= pluralize(post.comments.count, "Comment") %></p>
      </div>

      <!-- do liking, comment -->
      <div style = "display: flex; justify-content: space-around;" >
        <%= render partial: "likings/liking_button", locals: { post: post } %>
        <%= render partial: "comments/new_comment", locals: { post: post } %>
      </div>

      <!-- show comment -->
      <div>
        <%= render partial: "comments/index_comment", locals: { post: post } %>
      </div>
    </div><br>
  <% end %>
<% else %>
  <p>This is a lonely universe</p>
<% end %>
