<% content_for(:title, "Edit") %>
<section class="container is-widescreen mt-5 mx-10 is-flex is-flex-direction-row is-align-items-center">
  <%= form_with model: @post, class: 'ml-10 is-flex is-flex-direction-row is-justify-content-center is-align-items-center' do |f| %>
    <div class="mt-5">
      <%= f.text_area :body, placeholder: "Write something!", size: "45x5", class: 'textarea' %>
      <div class="is-flex is-flex-direction-row is-justify-content-space-around mt-1">
        <div class="image-upload">
          <label class="image-upload tag is-link is-large has-text-dark is-size-5" for="file-input" style="width:200px;">
            Images
          </label>
          <%= f.file_field :images, multiple: true, accept: 'image/jpg, image/jpeg, image/png', id: 'file-input' %>
        </div>
        <%= f.submit "Update Post", class: 'button is-fullwidth is-info has-text-dark ', style: 'width:200px;' %>
      </div>
    </div>

    <div class="mt-1">
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image, size: "250x250" %>
          <%= link_to delete_attachment_post_url(image_id: image.id) do %>
            <button class="button is-danger">
              Delete
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
    

  <% end %>
</section>


