<h1>Post#show</h1>

<div style = "display: flex; justify-content: space-around;" >
    <p><%= link_to @post.user_id, user_path(@post.user_id) %></p>
</div>
<div style = "display: flex; justify-content: space-around; align-items: center;" >
    <p><%= @post.title %></p>
    <p><%= @post.body %></p>
    <% if @post.user_id == current_user.id %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", post_path(@post), method: :delete %>
    <% end %>
</div>
