<!DOCTYPE html>
<html>
  <head>
    <%# Change page title by view %>
    <title><%= yield :title %> | Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <% if user_signed_in? %>
      <% if flash.any? %>
        <div class="is-flex is-justify-content-center notification is-danger">
          <ul class="is-flex is-flex-direction-row">
            <% flash.each do |type, msg| %>
              <li class="mr-3"><%= msg %></li>
            <% end %>    
          </ul>
        </div>
      <% end %>
      <%= render "layouts/navbar" %>
    <% end %>

    <%= yield %>
  </body>
</html>
